body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
.main-container {
    display: flex;
    /* height: 100vh; */
}
#input-area {
    flex: 2;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#chart-area {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
}
#chart-container {
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-full {
    width: 100%;
}
.handsontable-checkbox {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 2px;
    height: 23px;
}
.flex-left {
    display: flex;
    justify-content: left;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 1px solid #a39e9e;
}
.ht_editor_visible select {
    display: block !important;
}
.p-fixed {
    position: fixed;
}
.handsontable .htAutocompleteArrow {
    font-size: medium;
}
.row {
    margin-bottom: 5px;
}